---
layout: default
title: Arlames.pt
overview: true
---

<span class="latest-article">Protegendo A Sua Casa De Assaltos</span>

<p>Ajude a proteger a sua casa de arrombamentos com estas dicas de segurança de casa para alarmes, luzes, e fechaduras.</p>

<p>Um dos crimes mais fáceis de prevenir -- o roubo -- é também um dos mais comuns. Se acontecer na sua casa, perde mais do que algumas posses. A invasão, mesmo quando não está lá, tem um grande impacto na sensação de segurança e bem-estar para a sua família.</p>

<p>Mas os assaltos não têm que acontecer. Há um monte de coisas que pode fazer para aumentar a segurança em sua casa e torná-la à prova de roubo. Aqui estão algumas dicas que pode usar para ajudá-lo a manter a sua família e a sua casa seguros e o seu conteúdo intacto.</p>

<ol>
  {% for post in site.categories.tips %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ol>

<span class="latest-article">Como Comprar Um Sistema De Alarme Para Casa</span>

<p>Um sistema de alarme para casa está ligado a sensores que se acionam quando alguém entra pelas janelas e portas. Também se pode ligar a um serviço de monitorização, seja através da linha telefónica ou dum telemóvel. Embora existam sistemas com fios e wireless, os principais componentes a considerar quando comprar um sistema de alarme para casa são os mesmos.</p>

<ul>
  {% for post in site.categories.buy %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

